button{
    cursor: pointer;
} 
.disableScroll{
    overflow: hidden !important;
} 
.btn{
    padding: 25px 60px;
    display: inline;
    background-color: tomato;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.btn:hover{
    background-color: #ff4c2c;
}
.menssageGroup{
    position: relative;
    height: 12vh;
    overflow-wrap: break-word;
}
.janela-modal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000080;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    flex-direction: column;
}
.modal{
    min-width: 40%;
    min-height: 200px;
    max-width: 60%;
    max-height: 60%;
    background-color: #ffffff96 ;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
    margin-top: -5%;
    display: grid;
}

.fechar{
    all: unset;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 0;
    background-color: red;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
.janela-modal.abrirModal{
    display: flex;
}

@keyframes animation {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
.abrirModal .modal{
    animation: animation 0.5s;
}
.msgOkButton, #btnOk{
    all: unset;
    background-color: white;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
   
}
.msgCancelButton, #btnCancel #btnCancel{
    all: unset;
    background-color: white;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}
.msgTitle{
    height: 47px;
    background-color: unset;
    text-decoration: none;
    margin-left: 0;
    overflow: hidden;
    white-space: nowrap;
}   
.msgMenssage{
    min-width: 100%;
    min-height: 50px;
    max-width: 100%;
    max-height: 100%;
    margin: unset;
    overflow-x: hidden;
    overflow-wrap: break-word;
}
.msgInput{
    display: flex; 
    align-items: center; 
    white-space: nowrap;
    margin-bottom: 3%;
}
.msgInput > p{
    min-width: 10%; 
    max-width: 50%;
}
.msgInput > input{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

/*! Firefox */    
html{
    scrollbar-color: #cececeb6 transparent;
}