/*
Este arquivo deve ser apagado ao final do desenvolvimento
*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
}
#links{
    width: 20%;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    height: 100vh;
    padding: 5%;
    background-color: gray;
}
#links a{
    width: 90%;
    margin-left: 5%;
    font-size: 20px;
    padding: 10%;
    text-decoration: none;
    color: white;
    background-color: rgb(13, 13, 61);
    border-radius: 20px;
}
.cad{
    width: 80%;
    padding: 1%;
    display: flex;
    background-color: gray;
}
.AreaCadastros{
    width: 30%;
    text-align: center;
    background-color: white;
    margin: 2%;
}
.AreaCadastros h2{
    background-color: rgb(9, 9, 65);
    color: white;
    padding: 5%;
}