*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-weight: 700;
}
body{
    margin: 0;
    display: flex;
}

:root {
    /* Paleta de Cores */
    --primary-color: #0a3d62;
    --primary-color-hover: #082c4a;
    --secondary-color: #82ccdd;
    --background-color: rgba(240, 240, 240, 0.9);
    /* Background com transparência */
    --white-color: #ffffff;
    --text-color: #4d4d4d;
    --text-color-hover: #2c2c2c;
    --input-background-color: rgba(224, 224, 224, 0.7);
    /* Input com transparência */
    --input-border-color: #b0b0b0;
}

/* Estilos para o menu lateral e transição */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Inicia escondido */
    bottom: 0;
    z-index: 100;
    width: 250px;
    background-color: var(--primary-color);
    transition: left 0.3s ease; /* Transição suave de 0.3s ao mover */
    overflow-y: auto; /* Permite rolagem no menu se necessário */
    padding-top: 1rem;
}

.sidebar:hover {
    left: 0; /* Expande quando passa o mouse */
}

.sidebar .nav-link {
    color: var(--white-color) !important; /* Ajusta a cor dos links */
    padding: 10px 20px; /* Espaçamento interno dos links */
    transition: background-color 0.3s ease; /* Transição de cor ao passar o mouse */
}

.sidebar .nav-link:hover {
    background-color: var(--primary-color-hover); /* Cor de fundo ao passar o mouse */
}

.sidebar .logo {
    max-width: 80%; /* Reduz o tamanho da logo */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidebar .icon {
    max-width: 20px; /* Reduz o tamanho do ícone de sair */
    vertical-align: middle;
    margin-right: 10px; /* Espaçamento à direita do ícone */
}

.sidebar .profile-icon {
    max-width: 30px; /* Ajusta o tamanho do ícone do perfil */
    vertical-align: middle;
    margin-left: 10px; /* Espaçamento à esquerda do ícone */
}

.sidebar-handle {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    width: 30px; /* Largura do handle */
    height: 100%;
    cursor: pointer;
    z-index: 101; /* Coloca o handle sobre o menu */
}

.sidebar-handle .handle-icon {
    color: var(--white-color);
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    transition: opacity 0.3s ease; /* Transição de opacidade ao passar o mouse */
}

.sidebar:hover .sidebar-handle .handle-icon {
    opacity: 0; /* Oculta a seta ao passar o mouse no menu */
}

.icon {
    max-width: 20px; /* Reduz o tamanho do ícone de sair */
    vertical-align: middle;
}

.profile-icon {
    max-width: 30px; /* Ajusta o tamanho do ícone do perfil */
    vertical-align: middle;
}

.nav{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}