:root {
    /* Paleta de Cores */
    --primary-color: #0a3d62;
    --primary-color-hover: #082c4a;
    --secondary-color: #82ccdd;
    --background-color: rgba(240, 240, 240, 0.9); /* Background com transparência */
    --white-color: #ffffff;
    --text-color: #4d4d4d;
    --text-color-hover: #2c2c2c;
    --input-background-color: rgba(224, 224, 224, 0.7); /* Input com transparência */
    --input-border-color: #b0b0b0;
}

body {
    background: url('../Imgs/FundoUNIUBE.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.background-image {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card {
    border: none;
    border-radius: 15px; /* Aumenta o arredondamento da borda */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Aumenta a sombra */
    background-color: rgba(255, 255, 255, 0.9); /* Card com transparência */
    max-width: 400px; /* Ajuste o tamanho máximo do card conforme necessário */
    width: 100%;
}

.card-body {
    padding: 2rem;
    background-color: transparent; /* Fundo do card transparente */
}

.text-center {
    color: var(--primary-color);
}

.logo {
    max-width: 150px;
    margin-bottom: 1.5rem; /* Aumenta o espaçamento abaixo da logo */
}

.btn-primary {
    background-color: var(--primary-color);
    border: none;
    transition: background-color 0.3s;
    padding: 0.75rem; /* Aumenta o tamanho do botão */
    font-size: 1.2rem; /* Aumenta o tamanho do texto do botão */
}

.btn-primary:hover {
    background-color: var(--primary-color-hover);
}

.text-secondary {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.text-secondary:hover {
    color: var(--text-color-hover);
}

.form-control {
    border: 1px solid var(--input-border-color);
    border-radius: 10px;
    background-color: var(--input-background-color);
    font-size: 1.2rem;
    padding: 0.75rem;
}

.form-control::placeholder {
    color: var(--text-color);
}

.form-control:focus {
    border-color: var(--primary-color);
    box-shadow: none;
    background-color: var(--white-color);
}
